/**** Main styles used throughout the page ****/
:root{
--raisin-black-2: hsl(245, 16%, 16%);
--raisin-black-1: hsl(244, 17%, 19%);
--majorelle-blue: hsl(245, 67%, 59%);
--ghost-white-1: hsl(240, 100%, 99%);
--ghost-white-2: hsl(228, 50%, 96%);
--white-opacity: hsla(0, 0%, 100%, 0.5);
--independence: hsl(245, 17%, 27%);
--lavender-web: hsl(247, 69%, 95%);
--eerie-black: hsl(210, 11%, 15%);
--cool-gray: hsl(244, 17%, 61%);
--sapphire: hsl(211, 100%, 35%);
--white: hsl(0, 0%, 100%);
--ff-quicksand: "Quicksand", sans-serif;
--ff-mulish: "Mulish", sans-serif;
--fs-1: 36px;
--fs-2: 28px;
--fs-3: 20px;
--fs-4: 17px;
--fs-5: 16px;
--fs-6: 15px;
--fs-7: 14px;
--fw-500: 500;
--fw-600: 600;
--fw-700: 700;
--transition: 0.25s ease;
--section-padding: 80px;
}

/**** Reused Styles ****/

.container {
    padding-inline:15px;
}


/**** Reset ****/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/**** Global Selectors ****/
a,button {
    text-decoration: none;
    border:none;
    display:block;
}

li {
    list-style-type: none;
}

/**** Header Section ****/

.header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: var(--white);
    padding-block: 20px;
    height: 70px;
    transition: 0.5s ease-in-out;
}

/*Only when the header and the active classes are present do we add a height of 330px*/
.header.active {
    height:335px;
}

.header .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.navbar {
    position:absolute;
    width:100%;
    top:64px;
    visibility: hidden;
    opacity: 0;
    padding-inline:8px;
    transition: 0.5s ease-in-out;
}

/* When the haeder and active classes are present , only then do you add the to the navbar class the following
 properties*/
.header.active .navbar {
    visibility: visible;
    opacity: 1;
}


.nav-link, .nav-action-link {
    font-size:1.2rem;
    font-family: var(--ff-mulish);
    color:var(--cool-gray);
    padding-block:8px;
}

.btn {
    background-color: transparent;
    font-size:1.2rem;
}


/**** Home Section ****/

.home-section {
    padding: 125px 0 var(--section-padding);
    background: var(--white);
    max-width:800px;
}


.home-content h1 {
    font-family: var(--ff-mulish);
    font-size: 2rem;
    font-weight: var(--fw-700);
    line-height:43px;
    margin-bottom:0.5em;
}

.home-content p {
    font-family: var(--ff-quicksand);
    font-size:1.2rem;
    font-weight:var(--fw-500);
    color: var(--cool-gray);
    margin-bottom: 0.5em;
}


.home-image {
    width:100%;
}

form {
    width:100%;
    text-align:center;
}
.email-input {
    border:none;
    font-size:1rem;
    padding:0.7em;
    background-color: var(--ghost-white-2);
    border-radius:5px;
    width:70%;
    margin-bottom: 0.5em;
}

.form-btn{
    width: 35%;
    padding:1em;
    margin:0.5em auto;
    border-radius:5px;
    font-size:1rem;
    font-family: var(--ff-quicksand);
    font-weight: var(--fw-700);
    color: var(--white);
    background-color: var(--majorelle-blue);
}


/**** About Section ****/
