/**** Main styles used throughout the page ****/
:root{
--raisin-black-2: hsl(245, 16%, 16%);
--raisin-black-1: hsl(244, 17%, 19%);
--majorelle-blue: hsl(245, 67%, 59%);
--ghost-white-1: hsl(240, 100%, 99%);
--ghost-white-2: hsl(228, 50%, 96%);
--white-opacity: hsla(0, 0%, 100%, 0.5);
--independence: hsl(245, 17%, 27%);
--lavender-web: hsl(247, 69%, 95%);
--eerie-black: hsl(210, 11%, 15%);
--cool-gray: hsl(244, 17%, 61%);
--sapphire: hsl(211, 100%, 35%);
--white: hsl(0, 0%, 100%);
--ff-quicksand: "Quicksand", sans-serif;
--ff-mulish: "Mulish", sans-serif;
--fs-1: 36px;
--fs-2: 28px;
--fs-3: 20px;
--fs-4: 17px;
--fs-5: 16px;
--fs-6: 15px;
--fs-7: 14px;
--fw-500: 500;
--fw-600: 600;
--fw-700: 700;
--transition: 0.25s ease;
--section-padding: 80px;
}

/**** Reused Styles ****/

.container {
    padding-inline:15px;
}


/**** Reset ****/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/**** Global Selectors ****/
a,button {
    text-decoration: none;
    border:none;
    display:block;
}

li {
    list-style-type: none;
}

body {
    background-color: white;
}
/**** Header Section ****/

.header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: var(--white);
    padding-block: 20px;
    height: 70px;
    transition: 0.5s ease-in-out;
    z-index:4;
}

/*Only when the header and the active classes are present do we add a height of 330px*/
.header.active {
    height:335px;
}

.header .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.navbar {
    position:absolute;
    width:100%;
    top:64px;
    visibility: hidden;
    opacity: 0;
    padding-inline:8px;
    transition: 0.5s ease-in-out;
}

/* When the haeder and active classes are present , only then do you add the to the navbar class the following
 properties*/
.header.active .navbar {
    visibility: visible;
    opacity: 1;
}


.nav-link, .nav-action-link {
    font-size:1.2rem;
    font-family: var(--ff-mulish);
    color:var(--cool-gray);
    padding-block:8px;
}

.btn {
    background-color: transparent;
    font-size:1.2rem;
}


/**** Home Section ****/

.home-section {
    padding: 125px 0 var(--section-padding);
    background: var(--ghost-white-1);
    max-width:800px;
}


.home-content h1 {
    font-family: var(--ff-mulish);
    font-size: 2rem;
    font-weight: var(--fw-700);
    line-height:43px;
    margin-bottom:0.5em;
}

.home-content p {
    font-family: var(--ff-quicksand);
    font-size:1.2rem;
    font-weight:var(--fw-500);
    color: var(--cool-gray);
    margin-bottom: 0.5em;
}


.home-image {
    width:100%;
}

form {
    width:100%;
    text-align:center;
}
.email-input {
    border:none;
    font-size:1rem;
    padding:0.7em;
    background-color: var(--ghost-white-2);
    border-radius:5px;
    width:70%;
    margin-bottom: 0.5em;
}

.form-btn{
    width: 35%;
    padding:1em;
    margin:0.5em auto;
    border-radius:5px;
    font-size:1rem;
    font-family: var(--ff-quicksand);
    font-weight: var(--fw-700);
    color: var(--white);
    background-color: var(--majorelle-blue);
}


/**** About Section ****/

.about-content {
    margin-bottom: 1rem;
    max-width: 800px;
}

.about-icon-container {
    display:grid;
    width:60px;
    height:60px;
    place-items:center;
    background-color: var(--lavender-web);
    border-radius: 5px;
    margin-bottom:20px;

}

.about-icon-container ion-icon {
    font-size:2.5rem;
    color: var(--majorelle-blue);
}

.why {
    font-family: var(--ff-mulish);
    font-size: 1.75rem;
    font-weight: var(--fw-700);
    color: #3b3951;
    margin-bottom: 0.3em;
}

.why-p{
    font-size:1rem;
    margin-bottom: 0.5em;
    
}

.feature-p {
    font-size:0.9rem;
}

.why-p,.feature-p {
     font-family: var(--ff-quicksand);
     font-weight: var(--fw-500);
     color: #8d8bac;
}

.learn-btn {
    width: 30%;
    max-width: 300px;
    border: 1px solid var(--majorelle-blue);
    background: transparent;
    padding: 1em;
    border-radius: 5px;
    color: var(--majorelle-blue);
    font-family: var(--ff-quicksand);
    font-weight: var(--fw-700);
    transition: 0.5s all ease;
}

.learn-btn:hover {
    color: var(--white);
    background-color: var(--majorelle-blue);
}


.about-card{
    text-align: center;
    display:flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 20px;
}

.about-card h2 {
    font-family: var(--ff-mulish);
    font-size: 1.25rem;
    font-weight: var(--fw-700);
    margin-bottom: 1em;
}


.feature-icon {
    width: 60px;
    height:60px;
    display:grid;
    place-items: center;
    font-family: var(--ff-quicksand);
    font-size: 1.75rem;
    color: var(--majorelle-blue);
    background-color: var(--lavender-web);
    border-radius: 50px;
    margin-bottom:20px;
}

/**** Features Section ****/

.features-section {
    background-color: var(--ghost-white-1);
    padding-block: var(--section-padding);
    max-width:800px;
}

.feature-image {
    width:100%;
}

.features-text {
    text-align:center;
    margin-bottom: 20px;
}

.features-text h2 {
    font-family: var(--ff-mulish);
    font-size: 1.75rem;
    font-weight: var(--fw-700);
    color: #3b3951;
    margin-bottom: 1em;
}

.features-text p {
     font-family: var(--ff-quicksand);
     font-size: 1rem;
     font-weight: 400;
     color: #8d8bac;
}


.creative-p {
      display:flex;
      justify-content: flex-start;
      align-items: center;
      gap:5px;
      margin-bottom: 15px;
}

.creative-p ion-icon {
    color: var(--majorelle-blue);
    font-family: var(--ff-quicksand);
    font-size: 1.25rem;
}

.creative-p  span {
    font-family: var(--ff-quicksand);
    font-size: 1rem;
    color: #22262a;
}

.features-card h1 {
    font-family: var(--ff-mulish);
    font-weight: var(--fw-700);
    font-size: 1.75rem;
    margin-bottom: 0.5em;
    color: #3b3951;
}

